# Dependency directories
node_modules/

# Next.js build output
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# TypeScript build output
dist/

# npm package lock
package-lock.json

# Mac files
*.swp
